# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_NAME=DBAuditoria

# JWT (¡Este secreto debe ser idéntico al de Auth y Asocomunales para que pueda descifrar el token!)
JWT_SECRET=232ef2beaf4bfa983709c71ef0063dc5bf5f34764d1aa3227562bd3246d5e5e1

# RabbitMQ
RABBITMQ_URL=amqp://localhost:5672

# Aplicación
PORT=3002
FRONTEND_URL=http://localhost:5173

# Cookie (debe ser el mismo nombre que el resto espera)
COOKIE_NAME=access_token
